server {
  listen 80;

  server_name ${SERVER_NAME};
  root /var/www/public;

  location / {
    try_files ${DOLLAR}uri /${DOLLAR}host/index.html;
  }

  location = /robots.txt {
    break;
  }

  location = /apple-app-site-association {
    break;
  }
}
